.display-1,
.display-2,
.display-3,
.display-4 {
  color: #FFF;
}

.card {
  transition: all 0.5s ease-out;
}

.cols-cards:hover .card {
  transform: scale(1.2);
}

.cols-cards:hover .card .img-1 {
  display: none;
}

.card-animation {
  transform: scale(1.2);
}

#img-1 {
  opacity: 1;
}

.cols-cards {
  max-width: 315px;
  max-height: 415px;
}

.carousel-federados {
  overflow: hidden;
}

.carousel-federados .carousel-inner {
  overflow: visible;
}

.carousel-federados button {
  z-index: 999;
}

.card-body {
  z-index: 3;
  bottom: 12px;
  left: 25px;
}

.moldura {
  z-index: 2;
  background-size: cover;
  opacity: 1;
}

.row-federados {
  overflow-x: scroll;
}

#cara-da-partida {
  background-repeat: repeat;
  background-size: 400px;
  background-position: center;
}

#cara-da-partida .card {
  max-width: 300px;
  box-shadow: 15px 15px 25px black;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body header #profile-pic-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

body .content {
  flex: 1;
  margin-bottom: 5rem;
}

body footer {
  margin-top: auto;
}

.patrocinador figure img {
  width: 60px;
  transition: all 0.2s ease-out;
}

.patrocinador figure img:hover {
  transform: translateY(-10px);
  border: 1px blue solid;
}

.patrocinador figure figcaption {
  width: 100px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #012070;
  width: 6px;
  height: 6px;
}

@media (min-width: 768px) {
  .disputa {
    max-height: 500px;
    overflow: hidden;
  }
}

.badge-partidas {
  width: 5.6rem;
  height: 1.6rem;
}

@media (max-width: 329px) {
  .badge-partidas {
    display: none;
  }
}

@media (max-width: 391px) {
  .hora-partida {
    display: none;
  }
}

#lotacao-title,
#lotacao {
  transition: all 0.6s ease;
}

.box-money-mouth-face {
  position: absolute;
  top: 50%;
  right: 20%;
  will-change: transform;
  animation: move-emoji 10s infinite linear both alternate;
}

.box-money-mouth-face img {
  width: 100px;
  animation: rotate-emoji 100s infinite linear both alternate;
}

@keyframes rotate-emoji {
  100% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}

@keyframes move-emoji {
  100% {
    -webkit-transform: translate(-200px, -100px);
    transform: translate(-100px, -100px);
  }
}

.acao {
  min-width: 80%;
}

.card-pagamentos-container,
.card-pagamentos {
  width: 18rem;
  height: 37rem;
}

/* Meu Perfil */

.meu-perfil .form-floating>.form-control-plaintext~label::after,
.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-select~label::after {
  background-color: transparent;
}

.meu-perfil .form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  color: unset;
}

.meu-perfil .form-control-plaintext {
  color: white;
}

.meu-perfil option {
  background-color: #222831;
  color: white;
}

.meu-perfil option:checked {
  background-color: green;
  color: white;
}

/* Fim de Meu Perfil */
