{% extends "base.html" %}
{% block title %}FFBVI - Login{% endblock title %}
{% block meta_titulo_og %}Login - FFBVI{% endblock meta_titulo_og %}
{% block meta_descricao_og %}Faça login na sua conta FFBVI.{% endblock meta_descricao_og %}
{% block meta_titulo_twt %}Login - FFBVI{% endblock meta_titulo_twt %}
{% block meta_descricao_twt %}Faça login na sua conta FFBVI.{% endblock meta_descricao_twt %}
{% block meta_descricao %}{% endblock meta_descricao %}
{% block og_url %}/login{% endblock og_url %}
{% block twt_url %}/login{% endblock twt_url %}
{% block canonical %}/login{% endblock canonical %}
{% block content %}
<style>
    .box-soccer-ball {
        position: absolute;
        top: 50%;
        right: 20%;
        will-change: transform;
        animation: move-ball 10s infinite linear both alternate
    }

    .box-soccer-ball img {
        width: 100px;
        animation: rotate-ball 100s infinite linear both alternate
    }

    @keyframes rotate-ball {
        100% {
            -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg)
        }
    }

    @keyframes move-ball {
        100% {
            -webkit-transform: translate(-200px, -100px);
            transform: translate(-100px, -100px)
        }
    }
</style>
<div class="container-sm">
    <div class="row justify-content-center align-items-center mt-3 g-2">
        <div class="col-12 col-md-8 col-lg-5">
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show d-none d-md-block" role="alert">
                Seu usuário ou senha estão errados! Tente outra vez.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show d-block d-md-none" role="alert">
                Usuário ou senha errados!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% if not user.is_authenticated %}
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-floating mb-3">
                    {{ field }}
                    {{ field.label_tag }}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
            {% load static %}
            {% else %}
            <h1 class="display-3 text-center mb-5">Você já está logado!</h1>
            <div class="d-flex justify-content-center my-3">
                <a class="btn btn-lg btn-primary w-50 fs-6" href="{% url 'main:homepage' %}" role="button">Página Inicial</a>
            </div>
            <div class="d-flex justify-content-center my-3">
                <a class="btn btn-lg btn-danger w-50 fs-6" href="{% url 'logout' %}" role="button">Sair</a>
            </div>
            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/47756/winking-face-emoji-clipart-md.png"
                alt="Emoji de Piscadela" class="img-fluid">
            <div class="box-soccer-ball">
                <img src="{% static 'main/images/soccer-ball.png' %}" alt="Bola de Futebol" />
            </div>
            {% endif %}
        </div>
    </div>

</div>
<script>
    const inputs = document.getElementsByTagName('input');
    Array.from(inputs).forEach(element => {
        element.classList.add('form-control');
        element.setAttribute('placeholder', 'dummy');
    });

    label = document.getElementsByTagName('label');
    label[0].innerHTML = "Insira seu nome de jogador:";
    label[1].innerHTML = "Insira sua senha:";
</script>
{% endblock content %}