{% extends "new_base.html" %}
{% block title %}Mudar Senha - FFBVI{% endblock title %}
{% block meta_titulo_og %}Mudar Senha - FFBVI{% endblock meta_titulo_og %}
{% block meta_descricao_og %}Mudar senha da FFBVI.{% endblock meta_descricao_og %}
{% block meta_titulo_twt %}Mudar Senha - FFBVI{% endblock meta_titulo_twt %}
{% block meta_descricao_twt %}Mudar senha da FFBVI.{% endblock meta_descricao_twt %}
{% block meta_descricao %}Mudar senha da FFBVI.{% endblock meta_descricao %}
{% block og_url %}{% url 'main:mudar_senha' %}{% endblock og_url %}
{% block twt_url %}{% url 'main:mudar_senha' %}{% endblock twt_url %}
{% block canonical %}{% url 'main:mudar_senha' %}{% endblock canonical %}
{% block content %}
<div class="container-sm py-5">
    <div class="row justify-content-center align-items-center mt-3 g-2">
        <div class="col-12 col-md-8 col-lg-5 mt-md-5 pt-3">
            <h2>Atualize seus dados:</h2>

            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}

            <form method="post" class="mb-2">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-floating mb-3">
                    {{ field }}
                    {{ field.label_tag }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-success w-100" id="salvar_senha" >Salvar</button>
            </form>
        </div>
            
    </div>
</div>
{% endblock content %}

{% block more_scripts %}
<script>

    const inputs = document.getElementsByTagName('input');

    Array.from(inputs).forEach(element => {
        element.classList.add('form-control');
        element.setAttribute('placeholder', 'dummy');
    });

    label = document.getElementsByTagName('label');
    label[0].innerHTML = "Insira sua senha atual:";
    label[1].innerHTML = "Insira sua nova senha:";
    label[2].innerHTML = "Insira novamente a nova senha:";
</script>
{% endblock more_scripts %}