{% extends "base.html" %}
{% block title %}Federados da FFBVI{% endblock title %}
{% block meta_titulo_og %}Federados da FFBVI{% endblock meta_titulo_og %}
{% block meta_descricao_og %}Veja as figurinhas dos federados da FFBVI.{% endblock meta_descricao_og %}
{% block meta_titulo_twt %}Federados da FFBVI{% endblock meta_titulo_twt %}
{% block meta_descricao_twt %}Veja as figurinhas dos federados da FFBVI.{% endblock meta_descricao_twt %}
{% block meta_descricao %}Veja as figurinhas dos federados da FFBVI.{% endblock meta_descricao %}
{% block og_url %}{% url 'main:federados' %}{% endblock og_url %}
{% block twt_url %}{% url 'main:federados' %}{% endblock twt_url %}
{% block canonical %}{% url 'main:federados' %}{% endblock canonical %}
{% block content %}
{% load static %}
<div class="container">
    <h1 class="display-1">Federados</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-evenly">
        {% for federado in users %}
        <div class="col cols-cards position-relative mt-3 p-0 overflow-hidden">
            <div class="card-body text-dark position-absolute text-white d-flex align-items-center justify-content-between w-100 pe-5">
                <div>
                    <h5 class="card-title text-capitalize m-0 fs-6">{{ federado.nome_jogador }}</h5>
                    <p class="card-text text-capitalize m-0 fs-6">{{ federado.posicao }}</p>
                </div>
                <div class="text-end">
                    {% if federado.cidade_nascimento and federado.uf_nascimento and federado.data_nascimento %}
                    <h6 class="m-0 fs-6">{{ federado.cidade_nascimento }}-{{ federado.uf_nascimento }}</h4>
                    <small class="card-text small m-0 fs-6">{{ federado.data_nascimento|date:"d/m/Y" }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="moldura position-absolute top-0 start-0 w-100 h-100" style="background-image: url('{% static 'main/images/Moldura de Figurinha.svg' %}')"></div>
            <div class="card">
                <img src="{% if federado.foto_principal %}{{ federado.foto_principal.url }}{% else %}{% static 'main/images/Foto Temporária.png' %}{% endif %}" class="card-img-top object-fit-contain img-1" alt="Foto de {{ federado.nome_jogador }}">
                <img src="{% if federado.foto_secundaria %}{{ federado.foto_secundaria.url }}{% else %}{% static 'main/images/Foto Temporária.png' %}{% endif %}" class="card-img-top object-fit-contain img-2" alt="Foto de {{ federado.nome_jogador }}">
            </div>
        </div>
        
        {% endfor %}

    </div>
</div>
{% endblock content %}

{% block more_scripts %}
<script>
    // Obtém todas as imagens dos cartões
    var cards = document.getElementsByClassName('card');
    var cardImgs = document.querySelectorAll('.card .img-1');

    // Define os intervalos de tempo
    var intervalo = 2000; // 2 segundos
    var indiceImagem = 0;

    // Função para alternar as imagens
    function alternarImagem() {
        // Oculta a imagem atual
        cards[indiceImagem].classList.remove('card-animation');
        cardImgs[indiceImagem].classList.remove('d-none');

        // Incrementa o índice da imagem
        indiceImagem++;

        // Verifica se atingiu o final do array de imagens
        if (indiceImagem >= cardImgs.length) {
            indiceImagem = 0; // Reinicia o índice
        }

        // Exibe a próxima imagem
        cards[indiceImagem].classList.remove('card-animation');
        cardImgs[indiceImagem].classList.remove('card-img-animation');

        setTimeout(function() {
            cards[indiceImagem].classList.add('card-animation');
            cardImgs[indiceImagem].classList.add('d-none');
        }, 10);
    }

    // Inicia o intervalo para alternar as imagens
    setInterval(alternarImagem, intervalo);
</script>
{% endblock more_scripts %}