{% extends "base.html" %}
{% block title %}{{ object.nome_jogador }}{% endblock title %}
{% block meta_titulo_og %}{{ object.nome_jogador }}{% endblock meta_titulo_og %}
{% block meta_descricao_og %}Veja os dados de {{ object.nome_jogador }}.{% endblock meta_descricao_og %}
{% block meta_titulo_twt %}{{ object.nome_jogador }}{% endblock meta_titulo_twt %}
{% block meta_descricao_twt %}Veja os dados de {{ object.nome_jogador }}.{% endblock meta_descricao_twt %}
{% block meta_descricao %}Veja os dados de {{ object.nome_jogador }}.{% endblock meta_descricao %}
{% block og_url %}{% url 'main:gerenciar_federado' object.id %}{% endblock og_url %}
{% block twt_url %}{% url 'main:gerenciar_federado' object.id %}{% endblock twt_url %}
{% block canonical %}{% url 'main:gerenciar_federado' object.id %}{% endblock canonical %}
{% block content %}
{% load static %}
<div class="container py-5">
    <div class="row g-2 mt-3 d-flex justify-content-center py-3">
        <div class="col-12 col-md-8 col-lg-6 table-responsive-sm">
          <h1 class="display-1 text-center">{{ object.nome_jogador }}</h1>
          <table class="table table-dark table-hover table-bordered caption-top table-striped-columns">
            <caption class="small">Dados de {{ object.nome_completo }}</caption>
            <tbody>
              <tr>
                <th scope="row">Nome completo:</th>
                <td class="text-capitalize">{{ object.nome_completo|default:"---------" }}</td>
              </tr>
              <tr>
                <th scope="row">Posição:</th>
                <td class="text-capitalize">{{ object.posicao|default:"---------" }}</td>
              </tr>
              <tr>
                <th scope="row">E-mail:</th>
                <td>{{ object.email|default:"---------" }}</td>
              </tr>
              <tr>
                <th scope="row">Telefone:</th>
                <td class="text-capitalize">{{ object.telefone|default:"---------" }}</td>
              </tr>
              <tr>
                <th scope="row">Time:</th>
                <td class="text-capitalize">{{ object.time_coracao|default:"---------" }}</td>
              </tr>
              <tr>
                <th scope="row">Idade:</th>
                <td>
                  {{ object.idade|default:"---------" }} {% if object.idade %}anos{% endif %}
                </td>
              </tr>
              <tr>
                <th scope="row">Aniversário:</th>
                <td>{{ object.data_nascimento|default:"---------" }}</td>
              </tr>
              <tr>
                <th scope="row">Origem:</th>
                <td>{{ object.cidade_nascimento|default:"---------" }}-{{ object.uf_nascimento|default:"---------" }}</td>
              </tr>
              <tr>
                <th scope="row">Altura:</th>
                <td>{{ object.altura|default:"---------" }}</td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>

</div>
{% endblock content %}