{% extends "base.html" %}
{% block title %}FFBVI{% endblock title %}
{% block meta_titulo_og %}Federação de Futebol Bela Vista I{% endblock meta_titulo_og %}
{% block meta_descricao_og %}Página Inicial do site da FFBVI.{% endblock meta_descricao_og %}
{% block meta_titulo_twt %}Federação de Futebol Bela Vista I{% endblock meta_titulo_twt %}
{% block meta_descricao_twt %}Página Inicial do site da FFBVI.{% endblock meta_descricao_twt %}
{% block meta_descricao %}Página Inicial do site da FFBVI.{% endblock meta_descricao %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row justify-content-center align-items-center my-3">
        {% if not alerta.alerta_mensagem is None %}
        <div class="alert alert-{{ alerta.alerta_cor }} alert-dismissible fade show d-flex align-items-center" role="alert">
            {% if alerta.alerta_icon %}
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
                <symbol id="info-fill" viewBox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </symbol>
                <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
              </svg>
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="{{ alerta.alerta_cor|capfirst }}:" style="width: 20px; height: 20px"><use xlink:href="{{ alerta.alerta_icon }}"/></svg>
            {% endif %}
            {{ alerta.alerta_mensagem }} <a class="alert-link ms-1" href="{{ alerta.alerta_link }}">{{ alerta.alerta_texto_link }}</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <h1 class="display-1 text-center">Federação de Futebol Bela Vista I</h1>
    </div>
    <div class="row justify-content-center align-items-center my-3">
        <div id="carousel-federados-lg" class="carousel carousel-federados slide d-none d-lg-block mt-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for federado in users %}
                {% if forloop.counter0|divisibleby:4 %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="4000">
                    <div class="row row-cols-4 d-flex justify-content-evenly">
                {% endif %}
                        <div class="col cols-cards position-relative p-0 overflow-hidden">
                            <div
                                class="card-body text-dark position-absolute text-white d-flex align-items-center justify-content-between w-100 pe-5">
                                <div>
                                    <h5 class="card-title text-capitalize m-0 fs-6">{{ federado.nome_jogador }}</h5>
                                    <p class="card-text text-capitalize m-0 fs-6">{{ federado.posicao }}</p>
                                </div>
                                <div class="text-end">
                                    {% if federado.cidade_nascimento and federado.uf_nascimento and federado.data_nascimento %}
                                    <h4 class="m-0 fs-6">{{ federado.cidade_nascimento }}-{{ federado.uf_nascimento }}</h4>
                                    <small class="card-text small m-0 fs-6">{{ federado.data_nascimento|date:"d/m/Y" }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="moldura position-absolute top-0 start-0 w-100 h-100"
                                style="background-image: url('{% static 'main/images/Moldura de Figurinha.svg' %}')">
                            </div>
                            <div class="card">
                                <img src="{% if federado.foto_principal %}{{ federado.foto_principal.url }}{% else %}{% static 'main/images/Foto Temporária.png' %}{% endif %}" class="card-img-top object-fit-contain img-1" alt="Foto de {{ federado.nome_jogador }}">
                                <img src="{% if federado.foto_secundaria %}{{ federado.foto_secundaria.url }}{% else %}{% static 'main/images/Foto Temporária.png' %}{% endif %}" class="card-img-top object-fit-contain img-2" alt="Foto de {{ federado.nome_jogador }}">
                            </div>
                        </div>
                {% if forloop.counter|divisibleby:4 or forloop.last %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-federados-lg"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-federados-lg"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
        </div>
        <div id="carousel-federados-md" class="carousel carousel-federados slide d-none d-md-block d-lg-none mt-3" data-bs-ride="carousel" >
            <div class="carousel-inner">
                {% for federado in users %}
                {% if forloop.counter0|divisibleby:3 %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="4000">
                    <div class="row row-cols-3 justify-content-evenly flex-nowrap">
                {% endif %}
                        <div class="col cols-cards position-relative p-0 overflow-hidden">
                            <div
                                class="card-body text-dark position-absolute text-white d-flex align-items-center justify-content-between w-100 pe-5">
                                <div>
                                    <h5 class="card-title text-capitalize m-0 fs-6">{{ federado.nome_jogador }}</h5>
                                    <p class="card-text text-capitalize m-0 fs-6">{{ federado.posicao }}</p>
                                </div>
                                <div class="text-end">
                                    {% if federado.cidade_nascimento and federado.uf_nascimento and federado.data_nascimento %}
                                    <h4 class="m-0 fs-6">{{ federado.cidade_nascimento }}-{{ federado.uf_nascimento }}</h4>
                                    <small class="card-text small m-0 fs-6">{{ federado.data_nascimento|date:"d/m/Y" }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="moldura position-absolute top-0 start-0 w-100 h-100"
                                style="background-image: url('{% static 'main/images/Moldura de Figurinha.svg' %}')">
                            </div>
                            <div class="card">
                                <img src="{% if federado.foto_principal %}{{ federado.foto_principal.url }}{% else %}{% static 'main/images/Foto Temporária.png' %}{% endif %}" class="card-img-top object-fit-contain img-1" alt="Foto de {{ federado.nome_jogador }}">
                                <img src="{% if federado.foto_secundaria %}{{ federado.foto_secundaria.url }}{% else %}{% static 'main/images/Foto Temporária.png' %}{% endif %}" class="card-img-top object-fit-contain img-2" alt="Foto de {{ federado.nome_jogador }}">
                            </div>
                        </div>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-federados-md"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-federados-md"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
        </div>
        <div id="carousel-federados-sm" class="carousel carousel-federados slide d-block d-md-none d-lg-none mt-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for federado in users %}
                {% if forloop.counter0|divisibleby:1 %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="4000">
                    <div class="row row-cols-1 g-2 d-flex justify-content-center">
                {% endif %}
                        <div class="col cols-cards position-relative p-0 overflow-hidden">
                            <div
                                class="card-body text-dark position-absolute text-white d-flex align-items-center justify-content-between w-100 pe-5">
                                <div>
                                    <h5 class="card-title text-capitalize m-0 fs-6">{{ federado.nome_jogador }}</h5>
                                    <p class="card-text text-capitalize m-0 fs-6">{{ federado.posicao }}</p>
                                </div>
                                <div class="text-end">
                                    {% if federado.cidade_nascimento and federado.uf_nascimento and federado.data_nascimento %}
                                    <h4 class="m-0 fs-6">{{ federado.cidade_nascimento }}-{{ federado.uf_nascimento }}</h4>
                                    <small class="card-text small m-0 fs-6">{{ federado.data_nascimento|date:"d/m/Y" }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="moldura position-absolute top-0 start-0 w-100 h-100"
                                style="background-image: url('{% static 'main/images/Moldura de Figurinha.svg' %}')">
                            </div>
                            <div class="card">
                                <img src="{% if federado.foto_principal %}{{ federado.foto_principal.url }}{% else %}{% static 'main/images/Foto Temporária.png' %}{% endif %}" class="card-img-top object-fit-contain img-1" alt="Foto de {{ federado.nome_jogador }}">
                                <img src="{% if federado.foto_secundaria %}{{ federado.foto_secundaria.url }}{% else %}{% static 'main/images/Foto Temporária.png' %}{% endif %}" class="card-img-top object-fit-contain img-2" alt="Foto de {{ federado.nome_jogador }}">
                            </div>
                        </div>
                {% if forloop.counter|divisibleby:1 or forloop.last %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-federados-sm"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-federados-sm"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
        </div>
    </div>
    {% if partida %}
    {% if partida.sorteada %}
    <div class="row justify-content-center my-3">
        <h3 class="display-3 text-start d-none d-md-block px-0">Confira a escalação de hoje!</h3>
        <h4 class="display-4 text-start d-block d-md-none px-0">Escalação de hoje!</h4>
        <div class="col-12 col-md-4 p-2 time">
            <ul class="list-group list-group-flush border border-success rounded-3">
                <h3 class="text-success text-center" id="timeVerdeTitle">Time Verde</h3>
                {% for jogador in partida.time_verde.all %}
                <li class="list-group-item d-flex justify-content-between">{{ jogador.nome_jogador }} <span
                        class="badge rounded-pill text-bg-success text-uppercase" style="min-width: 80px;">{{ jogador.posicao }}</span></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-12 col-md-4 p-2 time">
            <ul class="list-group list-group-flush border border-danger rounded-3">
                <h3 class="text-danger text-center" id="timeVermelhoTitle">Time Vermelho</h3>
                {% for jogador in partida.time_vermelho.all %}
                <li class="list-group-item d-flex justify-content-between">{{ jogador.nome_jogador }} <span
                        class="badge rounded-pill text-bg-danger text-uppercase" style="min-width: 80px;">{{ jogador.posicao }}</span></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-12 col-md-4 p-2 time">
            <ul class="list-group list-group-flush border border-primary rounded-3">
                <h3 class="text-primary text-center text" id="timeAzulTitle">Time Azul</h3>
                {% for jogador in partida.time_azul.all %}
                <li class="list-group-item d-flex justify-content-between">{{ jogador.nome_jogador }} <span
                        class="badge rounded-pill text-bg-primary text-uppercase" style="min-width: 80px;">{{ jogador.posicao }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}

{% block more_scripts %}
<script>
    // Obtém todas as imagens dos cartões
    var cards = document.getElementsByClassName('card');
    var cardImgs = document.querySelectorAll('.card .img-1');

    // Define os intervalos de tempo
    var intervalo = 2000;

    // Função para alternar as imagens
    function alternarImagem() {
        // Adiciona e remove as classes de animação em todos os cartões e imagens
        for (var i = 0; i < cards.length; i++) {
            cards[i].classList.toggle('card-animation');
            cardImgs[i].classList.toggle('d-none');
        }
    }

    // Inicia o intervalo para alternar as imagens
    setInterval(alternarImagem, intervalo);
</script>
{% endblock more_scripts %}