{% extends "new_base.html" %}
{% load static %}

{% block title %}Patrocinadores da FFBVI{% endblock title %}
{% block meta_titulo_og %}Patrocinadores - FFBVI{% endblock meta_titulo_og %}
{% block meta_descricao_og %}Veja os patrocinadores da FFBVI.{% endblock meta_descricao_og %}
{% block meta_titulo_twt %}Patrocinadores - FFBVI{% endblock meta_titulo_twt %}
{% block meta_descricao_twt %}Veja os patrocinadores da FFBVI.{% endblock meta_descricao_twt %}
{% block meta_descricao %}{% endblock meta_descricao %}
{% block og_url %}{% url 'main:patrocinadores' %}{% endblock og_url %}
{% block twt_url %}{% url 'main:patrocinadores' %}{% endblock twt_url %}
{% block canonical %}{% url 'main:patrocinadores' %}{% endblock canonical %}

{% block content %}
<div class="container" style="padding: 5.6rem 0;">

    <div class="row no-gutters overflow-hidden g-0 mt-3 px-2">
        <h1 class="display-3 d-none d-md-block mb-4">Patrocinadores</h1>
        <h1 class="display-5 d-md-none mb-4">Patrocinadores</h1>
        {% for patrocinador in patrocinadores %}
        <a href="{{ patrocinador.link }}" class="col-6 col-md-3">
            <div class="post-entry ">
                <img src="{{ patrocinador.logo.url }}" class="w-100 ratio ratio-1x1" alt="Logomarca de {{ patrocinador.nome }}">
                <div class="caption">
                    <div class="caption-inner">
                        <h3 class="mb-3">{{ patrocinador.nome }}</h3>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}